<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured Portfolio Suite" verbose="1">

    <!-- Register ExtentReports Listener -->
    <listeners>
        <listener class-name="com.portfolio.utils.ExtentTestListener"/>
    </listeners>

    <test name="Get User Tests">
        <classes>
            <class name="com.portfolio.tests.GetUserTest"/>
        </classes>
    </test>

    <test name="User CRUD Flow">
        <classes>
            <class name="com.portfolio.tests.UserFlowTest"/>
        </classes>
    </test>

    <test name="Data Driven Tests - JSON">
        <classes>
            <class name="com.portfolio.tests.DataDrivenUserTest"/>
        </classes>
    </test>

    <test name="Data Driven Tests - Excel">
        <classes>
            <class name="com.portfolio.tests.ExcelDrivenUserTest"/>
        </classes>
    </test>

</suite>